<div class="container">

	<div class="row center-xs">
		<div class="col-md-12">
			<h2>Para começar selecione os times e click em Start :)</h2>
		</div>
	</div>

	<br/>
	<div class="row center-xs">
		<div class="col-md-5">
			<app-label [texto]="'Time casa'"></app-label>
			<br>
			<app-select [lista]="times"
				[propertyValue]="'id'"
				[propertyText]="'time'"
				[nomeMulti]="'uf'"
				(itemSelected)="itemSelecionado($event)"></app-select>
		</div>

		<div class="col-md-2">
			<button>Start</button>
		</div>

		<div class="col-md-5">
			<app-label [texto]="'Time Visitante'"></app-label>
			<br>
			<app-select [lista]="categorias"
				[propertyValue]="'identificador'"
				[propertyText]="'nome'"
				[nomeMulti]="''"
				(itemSelected)="itemSelecionado($event)"></app-select>
		</div>
	</div>

	<div class="row center-xs" *ngIf="teste">
		<div class="col-md-4">
			<app-botao [texto]="'Marcar Gol Casa'"
				[time]="'casa'"
				(atualizarPlacar)="atualizarPlacarTimes($event)">
			</app-botao>
		</div>

		<div class="col-md-4" style="text-align: center;">
			<app-label [texto]="'Partida'" 
				[classeCss]="'partida'"></app-label>
			<br/>			
			<app-label [texto]="'São Paulo X Santos'" 
				[classeCss]="'times-partida'"></app-label>
			<br/>
			<app-botao [texto]="'Reset'"
				[time]=""
				(atualizarPlacar)="atualizarPlacarTimes($event)">
			</app-botao>			
		</div>

		<div class="col-md-4">
			<app-botao [texto]="'Marcar Gol Visitante'"
				[time]="'visitante'"
				(atualizarPlacar)="atualizarPlacarTimes($event)">
			</app-botao>										
		</div>
	</div>

	<br/><br/><br/>

	<div class="row center-xs">
		<div class="col-md-4">
			<app-label [texto]="'Time casa'"></app-label>			
			<br/><br/>
			<app-label [classeCss]="'gols'"
				[texto]="golsCasa"></app-label>					
		</div>
		
		<div class="col-md-4">
			<br/><br/>
			<app-label [classeCss]="'gols'" 
				[texto]="'X'"></app-label>
		</div>
		
		<div class="col-md-4">
			<app-label [texto]="'Time Visitante'"></app-label>					
			<br/><br/>
			<app-label [classeCss]="'gols'" 
				[texto]="golsVisitante"></app-label>								
		</div>		
	</div>
</div>

